@model IEnumerable<CLSW_21_22_PolytechAPI_Token.Models.TbToken>

@{
    ViewData["Title"] = "Liste des Tokens";
}

<h1>Index</h1>

<p>
    <a href="token/Generate/75/4.9876728/67.678999">Test Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bpm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Long)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bpm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Long)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
        </tr>
}
    </tbody>
</table>
